.article-post{
    position: relative;
    width:100%;
    height:470px;
    padding:20px;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom:25px ;
    box-shadow: 0px 0px 10px #dadce0;
    transition: .3s;
    cursor: pointer;
    box-sizing: border-box;
    &:hover{
        z-index: 20;
        top:-1px;
        box-shadow: 0px 0px 15px rgba(0,0,0,.4);
    }
    .article-box{
        height:520px;
        width:100%;
        // margin:0 auto;
        .article-title{
            position: relative;
            // float:left;
            text-align: left;
            font-size:28px;
        }

        .article-icon{
            // float:left;
            text-align: left;
            position: relative;
            font-size:18px;
            margin:8px 2px;
            color:#999;
            span{
                margin:0 6px;
            }
            .article-time{
                display: inline;
                font-size: 18px;
                margin-left: 6px;;
            }
        }
        .article-content{
            width:740px;
            height:52px;
            overflow: hidden;
            font-size:20px;
            margin:8px 0 20px;

            //超出省略
            text-align: justify;
            text-justify: newspaper;
            word-break: break-all;
        }
        .article-pic{
            display: block;
            width:740px;
            height:280px;
            border-radius: 5px;
        }
    }
}