.notice{
    width:780px;
    height:80px;
    line-height: 80px;
    margin-top: 0px;
    i{
        float:left;
        margin-left:30px;
        font-size:25px;
        color:rgb(196, 196, 196);
        vertical-align: -3px;
    }
    span{
        float:left;
        font-size: 20px;
        margin:0 20px;
        color:#999;
    }
}

